@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override DaisyUI button styles */
@layer components {
  .btn,
  .btn-primary,
  .btn-secondary,
  .btn-accent,
  .btn-info,
  .btn-success,
  .btn-warning,
  .btn-error,
  .btn-ghost {
    text-transform: none !important;
  }
}

html {
  font-size: 16px;
}
@media (max-width: 640px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
